*{
    padding: 0;
    margin: 0;
}

.colour{
    background: radial-gradient(rgb(235, 231, 231),pink);
}

.equal{
    min-height: 80vh;
    width: 100%;
    background-image: url(Bobi-Wine.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}
.text-box p{
    margin: 10px 0 40px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff ;
    padding: 12px 34px;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
    width: 100px;
    font-weight: bolder;
}
.hero-btn:hover{
    background-color: aqua;
}
.form{
    min-height: 120vh;
    font-size: 18px;
    color: #ca0909;
    width: 200px;
}
.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px 40px;
    grid-column-gap: 300px;
    grid-row-gap: 30px;
    background-color: rgb(148, 137, 123);
}
.content img{
    width: 200%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 0%;
}
.content img:hover{
    transform: scale(1.04);  
}


.btn{
    
    margin-top: 30%;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff ;
    padding: 2px;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
    width: 200px;
    font-weight: bolder;

}

.btn:hover{
    background-color: aqua;
}

.p_link{
    word-spacing: 10px;
}
